@model BeserShop.Models.MeatProduct

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Create</h1>

<h4>MeatProduct</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MeatProductName" class="control-label"></label>
                <input asp-for="MeatProductName" class="form-control" />
                <span asp-validation-for="MeatProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeatProductPrice" class="control-label"></label>
                <input asp-for="MeatProductPrice" class="form-control" />
                <span asp-validation-for="MeatProductPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeatProductStock" class="control-label"></label>
                <input asp-for="MeatProductStock" class="form-control" />
                <span asp-validation-for="MeatProductStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeatProductDescription" class="control-label"></label>
                <input asp-for="MeatProductDescription" class="form-control" />
                <span asp-validation-for="MeatProductDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

